@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-serif: "Playfair Display", serif;

  --color-primary: #48cae4;
  --color-secondary: #ecfeff;
  --color-accent: #22d3ee;
  --color-dark: #164e63;
  --color-text-main: #083344;
  --color-text-light: #ecfeff;
  --color-text-slate: #334155;
}
