@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-serif: "Playfair Display", serif;

  --color-primary: #48cae4;
  --color-cyan-brighter: #d5ffff;
  --color-secondary: #ecfeff;
  --color-accent: #22d3ee;
  --color-dark: #164e63;
  --color-light-dark: #1c637d;
  --color-slate: #334155;

  --color-text-main: #083344;
  --color-text-light: #ecfeff;
  --color-text-slate: #334155;
}

@layer components {
  .home-container {
    @apply mx-auto w-[80%] max-w-7xl;
  }

  .card-project {
    @apply bg-cyan-brighter text-dark h-full;

    @apply rounded-xl p-10;

    @apply text-justify;

    h2 {
      @apply text-3xl font-bold;
    }

    h3 {
      @apply mt-5 mb-2 text-xl font-bold;
    }

    ul {
      @apply list-disc ml-6 space-y-2 mt-4;
    }
  }

  .project-card-container {
    @apply bg-white border border-slate-100 rounded-xl overflow-hidden shadow-sm;

    @apply flex flex-col h-full transition-shadow hover:shadow-md;
  }

  .header {
    @apply bg-primary p-5 border-dark/20 flex flex-row items-center justify-between;
  }

  .form-fields {
    @apply w-full p-2 mb-4 border rounded border-gray-300 text-slate;
  }
}
